@font-face {
    font-family: DaddyTimeMonoNerdFont ;
    src: url(./Fonts/DaddyTimeMonoNerdFont-Regular.ttf);
    src: url(./Fonts/DaddyTimeMonoNerdFontMono-Regular.ttf);
    src: url(./Fonts/DaddyTimeMonoNerdFontPropo-Regular.ttf);
}

body {
    background-color:#1F1F1F;
    margin: 0;
    
}

html * {
    font-family: 'DaddyTimeMonoNerdFont', monospace;
    font-size: x-large;
    margin: 0;
    padding: 0;
}

#terminal {
    background-color: #1F1F1F;
    color: white;
    font-family: 'DaddyTimeMonoNerdFont', monospace;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 5%;
    padding-left: 0.75%;
    
  }

  #output {
    padding-right: 5%;
    
    
  }
  
  #input-line {
    display: flex;
    color: green;
  }
  
  #input-line span {
    color: green;
    margin-right: 5px;
  }
  
  #terminal-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-family: monospace;
    flex-grow: 1;
  }
  